# Aplicacao
APP_NAME=InvestimentosAPI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# JWT
JWT_SECRET=
JWT_TTL=1440
JWT_ALGO=HS256

# Banco de dados
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=investimentos-api
DB_USERNAME=postgres
DB_PASSWORD=

# Integracao AwesomeAPI
BASE_URL_AWESOMEAPI=https://economia.awesomeapi.com.br/json/

# Integracao Banco Central
BASE_URL_BANCO_CENTRAL=https://api.bcb.gov.br/dados/serie/
